# Data Science Tools
In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives**

- List popular languages for Data Science.
- Commonly used libraries used by Data Scientists.
- Development environment open source tools used in Data Science.
- Examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn

| Data Science Tools |
|-------------------|
| Jupyter Notebook  |
| Visual Studio Code |
| RStudio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Karla Mariana Alvarado Galv√°n